@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Vazirmatn', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f172a; /* رنگ پس زمینه تیره */
}

/* حذف استایل‌های پیشفرض Input فایل */
input[type="file"]::file-selector-button {
  display: none;
}